body {
    background-color: #e4e6eb;
    color: #071C4D;
}

// section {
//     min-height: 100vh;
//     width: 100%;
//     background-image: url(../image/unibi.jpg);
//     background-position: center;
//     background-size: cover;
// }
.header {
    min-height: 80vh;
    width: 100%;
    background-image: url(../image/unibi.jpg);
    background-position: center;
    background-size: cover;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }

}

.navbar-brand {
    img {
        max-height: 40px;
    }
    // font-weight: bold;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -15px !important;
    margin-bottom: -10px !important;
    margin-right: -33px !important;

    height: 70px;
    border-radius: 0;
}

header {
    margin-top: -70px;
    padding: 180px 0 165px;
    background-image: url(../image/unibi.jpg);
    background-size: cover;
    background-position: center;

    h1 {
        color: #fff;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
    }
}
